body {
    margin: 0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(248, 248, 248);

}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 25px;

}
@media (min-width: 0px) and (max-width:300px) {
    .video-grid{
        grid-template-columns: 1fr;
    }
}
@media (min-width: 469px) and (max-width:768px) {
    .video-grid{
        grid-template-columns: 1fr 1fr ;
    }
}
@media(min-width: 769px) and (max-width:999px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr ;
    }
}
@media (min-width: 1000px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
}

.video-preview {}



.thumbnail {

    width: 100%;

}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.channel-picture {}

.profile-pic {
    width: 36px;
    border-radius: 50%;
}

.channel-info {}

p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

.video-title {
    margin-top: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 10px;
}

.video-author,
.video-stats {
    color: rgb(96, 96, 96);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.video-author {
    margin-bottom: 5px;
}

.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}

.video-time{
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    position: absolute;
    right:5px;
    bottom: 8px;
    color: white;
    background-color: black;
    border-radius: 2px;
}